/** CSS styles **/

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    min-height: 100%;
}

body{
    width: 99.9%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    padding: 0.9em;
}

h2{
    padding: 0.8em;
}

h3{
    padding: 0.7em;
}

h4{
    padding: 0.6em;
}

h5,
h6{
    padding: 0.5em;    
}


/** GREETING **/
#greeting{
    min-height: 8em;
    color: white;
    padding: 5% 1.5% 0;
    margin: 0 auto;
    display: block;
}

#greet{
    padding: 0 1em 1em;
    vertical-align: top;
}

#greetLoc{
    font-size: 3rem;
    padding: 8px 1em 1em;
    vertical-align: top;
}


/** SUN CIRCLE **/
.sunCircleContainer{
    min-height: 55em;
    margin: auto;
    display: block;
    padding-bottom: 3em;
    position: relative;
}

.circleGroup{
    list-style: none;
    left: 0;
    right: 0;
    margin: -6em auto 0;
    text-align: center;
    width: 60vw;
    height: 20em;
/*    position: absolute;*/
    display: block;
    clear: both;
}

.circleGroup #currentTemp{
    background-color: #f5f4ed;
}

#innerCircle{
    text-align: center;
    display: block;
}

.circle{
    display: inline-block;
    position: absolute;
    top: 19em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.2);
    -webkit-transition: .15s;
    transition: .15s;
    background-color: #F1F1F1;
}

.circle:hover,
.circleMoons:hover{
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}

.circle:hover{
    box-shadow: 0 0 0.75em 0 #d1fcff;
}

#currentTemp:hover{
/*    transform: scale(1.1,1.1);*/
}

.circle h1,
.circle h5,
.circle h6,
.circle p{
    width: 75%;
    text-align: center;
}

.circle h1{
    margin: -0.1em auto 0.1em;
    padding: 0.2em 0;
    font-size: 5em;
    line-height: 0.8em;
}

.circle h5{
    padding: 0;
    font-size: 1.4em;
}

.circle h5:first-child{
    margin: 3em auto 0;
}

.circle h5:last-child{
    margin: 0 auto;
    line-height: 1.1em;
}

.circle h6{
    margin: 2.75em auto 0;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}

.circle p{
    margin: auto;
    font-size: 1.25em;
    line-height: 1.1em;
}

.circle sup{
    top: -0.4em;
    font-size: 55%;
}

#circleTime{
    color: #f5f5f5;
}

#circleMax{
    background-image: linear-gradient(20deg, #fc6076 0%, #ff9a44 100%);
    color: #f5f5f5;
}

#circleAQ{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#circleUv{
    background-image: linear-gradient(-20deg, #f6d365 0%, #fda085 100%);
}

#circleWind{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#circleHumid{
    background-image: linear-gradient(to bottom, #feada6 0%, #f5efef 100%);
}

#circleFeels{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    color: #f5f5f5;
}

#circleDate{
    color: #f5f5f5;
}

#circleDate h6{
    margin-top: 1.7em;
}

#circleTime h6,
#circleMax h6,
#circleFeels h6{
    margin-top: 2.5em;
}

#currentMaxTemp,
#feelsTemp{
    font-size: 2em;
    color: #f5f5f5;
}

/** rotate li circles for placement, space with translate and remove rotation for text **/

.circle:nth-of-type(1){
    transform: rotate(293deg) translate(15.5em) rotate(-293deg);
}

.circle:nth-of-type(2){
    transform: rotate(338deg) translate(15.5em) rotate(-338deg);
}

.circle:nth-of-type(3){
    transform: rotate(22deg) translate(15.5em) rotate(-22deg);
}

.circle:nth-of-type(4){
    transform: rotate(67deg) translate(15.5em) rotate(-67deg);
}

.circle:nth-of-type(5){
    transform: rotate(112deg) translate(15.5em) rotate(-112deg);
}

.circle:nth-of-type(6){
    transform: rotate(157deg) translate(15.5em) rotate(-157deg);
}

.circle:nth-of-type(7){
    transform: rotate(202deg) translate(15.5em) rotate(-202deg);
}

.circle:nth-of-type(8){
    transform: rotate(248deg) translate(15.5em) rotate(-248deg);
}

/** centre circle **/
.circle:nth-of-type(9){
    width: 18em;
    height: 18em;
    transform: rotate(228deg) translate(0) rotate(-228deg);
    top: 15em;
}

/** Circle Moons **/
#moonButton{
	height: 4.5em;
	text-align: center;
    background-color: #383b47;
	display: none;
	position: relative;
    cursor: pointer;
}

#moonButton h3{
    display: none;
    color: #FFFFFF;
    font-size: 1.9em;
}

#moonPhases{
    display: block;
}

#moonPhases .circleGroup{
    margin-top: 1em;
}

#moonRow1,
#moonRow2{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#moonRow1 .circleMoons:nth-of-type(1){
    transform: rotate(270deg) translate(23em) rotate(-270deg);
}

#moonRow1 .circleMoons:nth-of-type(2){
    transform: rotate(316deg) translate(23em) rotate(-316deg);
}

#moonRow1 .circleMoons:nth-of-type(3){
    transform: rotate(360deg) translate(23em) rotate(-360deg);
}

#moonRow1 .circleMoons:nth-of-type(4){
    transform: rotate(45deg) translate(23em) rotate(-45deg);
}

#moonRow2 .circleMoons:nth-of-type(1){
    transform: rotate(90deg) translate(23em) rotate(-90deg);
}

#moonRow2 .circleMoons:nth-of-type(2){
    transform: rotate(135deg) translate(23em) rotate(-135deg);
}

#moonRow2 .circleMoons:nth-of-type(3){
    transform: rotate(180deg) translate(23em) rotate(-180deg);
}

#moonRow2 .circleMoons:nth-of-type(4){
    transform: rotate(225deg) translate(23em) rotate(-225deg);
}

.circleMoons{
    display: block;
    position: absolute;
    top: 20.5em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.2);
    -webkit-transition: .15s;
    transition: .15s;
}

.circleMoons h6{
    width: 75%;
    text-align: center;
    color: #f5f5f5;
    line-height: 1.1em;
    margin: 2em auto 0;
}

.circleMoons:nth-child(3) h6,
.circleMoons:nth-child(7) h6{
    margin: 2.5em auto 0;
}
/*****/


/** FUTURE TEMPS **/
#futureButton{
	height: 4.2em;
    background-color: rgba(224, 224, 224, 0.4);
	text-align: center;
	display: block;
	position: relative;
    cursor: pointer;
}

#futureButton h3{
    font-size: 1.5em;
	color: #424242;
}

#future{
    width: 95%;
    height: 13em;
    padding: 0 2.5%;
    margin: auto;
    font-weight: 400;
    background-color: rgba(224, 224, 224, 0.4);
	display: none;
	position: relative;
}

#future .container{
    width: 36.5em;
}

#col1,
#col2,
#col3,
#col4,
#col5,
#col6,
#col7{
    display: inline-block;
    text-align: center;
    margin: auto;
    float: left;
    width: 5em;
    height: 10em;
}

.aheadHead{
    display: inline-block;
    width: 5.5em;
    height: 2em;
    margin: 0 0.3em 0.2em 0;
    padding: 0.5em;
    float: left;
}

.aheadHead h5{
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    margin-right: 0.4em;
}

.aheadHead:first-child{
    margin-left: 0;
}

.aheadHead:last-child{
    margin-right: 0;
}

.aheadIcon{
    display: inline-block;
    width: 4.7em;
    height: 4.7em;
    border-radius: 50%;
    text-align: center;
    margin: 0 0.35em;
    padding: 0.5em;
    float: left;
    box-shadow: 0 0.2em 0.5em 0 #ababab;
    -webkit-transition: .15s;
    transition: .15s;
}

.aheadIcon:first-child{
    margin-left: 0;
}

.aheadIcon:last-child{
    margin-right: 0;
}

.minTemp,
.maxTemp{
    font-size: 1.5em;
    line-height: 1.2em;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0.1em;
    float: left;
    text-shadow: 0 0 5px #a6a6a6;
}

.minTemp sup,
.maxTemp sup{
    font-size: 0.45em;
    position: relative;
    vertical-align: middle;
}

.minTemp{
    color: #005bea;
    margin-top: 0.3em;
}

.maxTemp{
    color: #f43b47;
}

/** CSS RESPONSIVE SETTINGS **/
@media screen and (min-width: 876px) and (max-width: 900px){
    
    .sunCircleContainer{
        height: 57em;
    }
    
    .circle{
        top: 21.5em;
    }
    
    .circle:nth-of-type(9){
        top: 17.5em;
    }
    
    #moonPhases{
        display: block;
        padding-bottom: 3em;
    }
    
    .circleMoons{
        top: 22.8em;
    }
    
    #future{
        height: 12em;
    }
    
}

@media screen and (min-width: 741px) and (max-width: 875px){
    
    #greeting{
        margin: 0 auto;
        text-align: center;
    }
    
    .sunCircleContainer{
        min-height: 46.8em;
        padding-bottom: 0;
    }
    
    .circleGroup{
        margin-top: 15.3em;
        text-align: center;
        width: 100%;
        height: auto;
        position: inherit;
    }
    
    #innerCircle{
        height: 40em;
    }
    
    .circle{
        top: 12em;
    }
    
    .circle:nth-of-type(9){
        top: 8em;
    }
    
    #moonPhases{
        background-color: #383b47;
        display: none;
        padding-bottom: 3em;
    }
    
    #moonButton{
        display: block;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
        font-size: 1.6em;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n),
    #moonRow2 .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 30em;
        left: 0;
        vertical-align: top;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n) h6,
    #moonRow2 .circleMoons:nth-of-type(n) h6{
        color: #879fff !important;
    }
    
    #future{
        height: 14.5%;
        padding-bottom: 6%;
    }
    
    #future .container{
        width: 80%;
    }
    
    #col1{
        margin-left: 2.5vw;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (min-width: 706px) and (max-width: 740px){
    
    #greeting{
        margin: 0 auto;
        text-align: center;
    }
    
    #greet{
        padding-bottom: 0;
        float: none;
        margin: 0 auto;
    }
    
    #greetLoc{
        float: none;
        margin: 0 auto;
    }
    
    .sunCircleContainer{
        padding-bottom: 0;
    }
    
    .circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 15.3em;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
    #innerCircle{
        height: 35em;
    }
    
    .circle{
        margin-top: -5em;
        top: 0;
    }
    
    .circle:nth-of-type(9){
        top: -4em;
    }
    
    #moonButton{
        display: block;
        height: 4.4em;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
        font-size: 1.6em;
    }
    
    #moonPhases{
        background-color: #383b47;
        display: none;
        padding-bottom: 3em;
    }
    
    #moonPhases .circleGroup{
        position: relative;
        height: inherit;
        margin-top: 0;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n),
    #moonRow2 .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 0;
        left: 0;
        vertical-align: top;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n) h6,
    #moonRow2 .circleMoons:nth-of-type(n) h6{
        color: #879fff !important;
    }
    
    #futureButton{
        margin: 0 auto;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        text-align: center;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1,
    #col2,
    #col3,
    #col4,
    #col5,
    #col6,
    #col7{
        height: 9em;
    }

    #col1{
        margin-left: 17%;
    }

    #col5{
        margin-left: 25%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (min-width: 551px) and (max-width: 705px){
    
    #greeting{
        min-height: 8em;
        margin: 0 auto;
        padding-top: 5%;
        text-align: center;
    }
    
    #greet{
        padding-bottom: 0;
        float: none;
        margin: 0 auto;
    }
    
    #greetLoc{
        padding-top: 0;
        float: none;
        margin: 0 auto;
    }
    
    .sunCircleContainer{
        min-height: 60%;
        padding-bottom: 0;
    }
    
    .circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 17em;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
    #innerCircle{
        height: 35em;
    }
    
    .circle{
        top: -6em;
    }
    
    .circle:nth-of-type(9){
        top: -10em;
    }
    
    #pCurrent{
        font-size: 1.6em;
        margin-top: 3.5em;
    }
    
    .circle h6{
        font-size: 1.1em;
        margin-top: 2.3em;
    }
    
    #circleTime h6,
    #circleMax h6,
    #circleFeels h6{
        margin-top: 2em;
    }
    
    #circleDate h6{
        margin-top: 1.5em;
    }
    
    .circle p{
        font-size: 1.4em;
    }
    
    #moonButton{
        display: block;
        height: 4.4em;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
        font-size: 1.6em;
    }
    
    #moonPhases{
        background-color: #383b47;
        display: none;
        padding-bottom: 3em;
    }
    
    #moonPhases .circleGroup{
        position: relative;
        height: inherit;
        margin-top: 0;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n),
    #moonRow2 .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 0;
        left: 0;
        vertical-align: top;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n) h6,
    #moonRow2 .circleMoons:nth-of-type(n) h6{
        color: #879fff !important;
    }
    
    #futureButton{
        margin: 0 auto;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        text-align: center;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1,
    #col2,
    #col3,
    #col4,
    #col5,
    #col6,
    #col7{
        height: 9em;
    }

    #col1{
        margin-left: 17%;
    }

    #col5{
        margin-left: 25%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (min-width: 550px){
    
    #greeting{
        margin: 0 auto;
        padding-top: 8%;
        text-align: center;
        float: none;
    }
    
    #greet{
        padding-bottom: 0;
        float: none;
        margin: 0 auto;
        font-size: 2.9em;
    }
    
    #greetLoc{
        float: none;
        margin: 0 auto;
        font-size: 2.1em;
    }
    
    .sunCircleContainer{
        min-height: 60%;
        padding-bottom: 0;
    }
    
    .circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 12em;
        text-align: center;
        width: 100%;
    }
    
    #innerCircle{
        height: 35em;
    }
    
    .circle{
        top: 0;
        margin-top: -2.5em;
    }
    
    .circle:nth-of-type(9){
        top: -4em;
    }
    
    .circle h5{
        font-size: 1.6em;
    }
    
    .circle h5:first-child{
        margin-top: 2.3em;
    }
    
    .circle h6{
        font-size: 1.1em;
        margin-top: 2.3em;
    }
    
    #circleTime h6,
    #circleMax h6,
    #circleFeels h6{
        margin-top: 2em;
    }
    
    #circleDate h6{
        margin-top: 1.5em;
    }
    
    .circle p{
        font-size: 1.4em;
    }
    
    #moonButton{
        display: block;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
        font-size: 1.6em;
    }
    
    #moonPhases{
        background-color: #383b47;
        display: none;
        padding-bottom: 3em;
    }
    
    #moonPhases .circleGroup{
        position: relative;
        height: inherit;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n),
    #moonRow2 .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 0;
        left: 0;
        vertical-align: top;
    }
    
    #moonRow1 .circleMoons:nth-of-type(n) h6,
    #moonRow2 .circleMoons:nth-of-type(n) h6{
        color: #879fff !important;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        height: auto;
        text-align: center;
    }
    
    #futureButton{
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1,
    #col2,
    #col3,
    #col4,
    #col5,
    #col6,
    #col7{
        height: 9em;
    }

    #col1{
        margin-left: 9.5%;
    }

    #col5{
        margin-left: 19%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}