/** CSS styles **/

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    height: 100%;
}

body{
    width: 99.9%;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

h1{
    padding: 0.9em;
}

h2{
    padding: 0.8em;
}

h3{
    padding: 0.7em;
}

h4{
    padding: 0.6em;
}

h5{
    padding: 0.5em;    
}

h6{
    padding: 0.5em;
}


/** SUN CIRCLE **/
.sunCircleContainer{
    width: 100%;
    margin: auto;
    display: block;
    float: left;
    padding-bottom: 3em;
}

#circleGroup{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 60vw;
    height: 60em;
}

#innerCircle{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}

.circle{
    display: inline-block;
    position: absolute;
    top: 26em;
    left: 45%;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.2);
    -webkit-transition: .15s;
    transition: .15s;
    background-color: #F1F1F1;
}

.circle:hover, .circleMoons:hover{
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}

.circle:hover{
    box-shadow: 0 0 0.75em 0 #d1fcff;
}

.circleMoons{
    display: block;
    position: absolute;
    top: 27.5em;
    left: 46.2%;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.2);
    -webkit-transition: .15s;
    transition: .15s;
}

.circleMoons:hover{
/*    box-shadow: 0 0 0.75em 0 #fcfcfc;*/
}

.circleGroup #currentTemp{
    background-color: #f5f4ed;
}

#currentTemp:hover{
/*    transform: scale(1.1,1.1);*/
}

.circle h1, .circle h5, .circle h6, .circle p{
    width: 75%;
    text-align: center;
}

.circle h1{
    margin: 0 auto;
    padding: 0.2em 0;
    font-size: 5em;
    line-height: 1em;
}

.circle h5{
    padding: 0;
    font-size: 1.4em;
}

.circle h5:first-child{
    margin: 2em auto 0;
}

.circle h5:last-child{
    margin: 0 auto;
}

.circle h6{
    margin: 2.75em auto 0;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}

.circle p{
    margin: auto;
    font-size: 1.25em;
    line-height: 1.1em;
}

.circle sup{
    top: -0.4em;
    font-size: 55%;
}

#circleTime{
    color: #f5f5f5;
}

#circleMax{
    background-image: linear-gradient(20deg, #fc6076 0%, #ff9a44 100%);
    color: #f5f5f5;
}

#circleUv{
    background-image: linear-gradient(-20deg, #f6d365 0%, #fda085 100%);
}

#circleWind{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#circleHumid{
    background-image: linear-gradient(to bottom, #feada6 0%, #f5efef 100%);
}

#circleFeels{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    color: #f5f5f5;
}

#circleDate{
    color: #f5f5f5;
}

#circleDate h6{
    margin-top: 1.7em;
}

#circleTime h6, #circleMax h6, #circleFeels h6{
    margin-top: 2.5em;
}

#circleSummary h6{
    margin-top: 2em;
}

#currentMaxTemp, #feelsTemp{
    font-size: 2em;
    color: #f5f5f5;
}

.circleMoons h6{
    width: 75%;
    text-align: center;
    color: #f5f5f5;
    line-height: 1.1em;
    margin: 2em auto 0;
}

.circleMoons:nth-child(3) h6, .circleMoons:nth-child(7) h6{
    margin: 2.5em auto 0;
}

/** rotate li circles for placement, space with translate and remove rotation for text **/

.circle:nth-of-type(1){
    transform: rotate(293deg) translate(15.5em) rotate(-293deg);
}

.circle:nth-of-type(2){
    transform: rotate(338deg) translate(15.5em) rotate(-338deg);
}

.circle:nth-of-type(3){
    transform: rotate(22deg) translate(15.5em) rotate(-22deg);
}

.circle:nth-of-type(4){
    transform: rotate(67deg) translate(15.5em) rotate(-67deg);
}

.circle:nth-of-type(5){
    transform: rotate(112deg) translate(15.5em) rotate(-112deg);
}

.circle:nth-of-type(6){
    transform: rotate(157deg) translate(15.5em) rotate(-157deg);
}

.circle:nth-of-type(7){
    transform: rotate(202deg) translate(15.5em) rotate(-202deg);
}

.circle:nth-of-type(8){
    transform: rotate(248deg) translate(15.5em) rotate(-248deg);
}

/** centre circle **/
.circle:nth-of-type(9){
    width: 18em;
    height: 18em;
    transform: rotate(228deg) translate(5.75em) rotate(-228deg);
}

/** Circle Moons **/
#moonPhases{
    width: 100%;
    float: left;
    display: block;
}

#moonButton{
	float: left;
	width: 100%;
	height: 5.2em;
	text-align: center;
    background-color: #424242;
	display: none;
	position: relative;
    margin: 0 0 0 -7em;
    padding: 0 7em;
    cursor: pointer;
}

#moonButton h3{
    display: none;
    color: #FFFFFF;
    font-size: 1.9em;
}

.circleMoons:nth-of-type(1){
    transform: rotate(271deg) translate(23em) rotate(-271deg);
}

.circleMoons:nth-of-type(2){
    transform: rotate(316deg) translate(23em) rotate(-316deg);
}

.circleMoons:nth-of-type(3){
    transform: rotate(360deg) translate(23em) rotate(-360deg);
}

.circleMoons:nth-of-type(4){
    transform: rotate(45deg) translate(23em) rotate(-45deg);
}

.circleMoons:nth-of-type(5){
    transform: rotate(88deg) translate(23em) rotate(-88deg);
}

.circleMoons:nth-of-type(6){
    transform: rotate(135deg) translate(23em) rotate(-135deg);
}

.circleMoons:nth-of-type(7){
    transform: rotate(180deg) translate(23em) rotate(-180deg);
}

.circleMoons:nth-of-type(8){
    transform: rotate(225deg) translate(23em) rotate(-225deg);
}
/*****/


/** CURRENTLY **/
#currently{
    color: white;
    overflow: hidden;
}

#greeting{
    color: white;
    padding: 1% 1.5%;
}

#term li{
    display: none;
}

/** FUTURE TEMPS **/
#future{
    width: 95%;
    height: 24.5%;
    padding: 0 2.5%;
    margin: auto;
    float: left;
    font-weight: 400;
    background-color: rgba(224, 224, 224, 0.4);
	display: none;
	position: relative;
}

#future .container{
    width: 36.5em;
}

#futureButton{
	float: left;
	width: 100%;
	height: 4.2em;
    background-color: rgba(224, 224, 224, 0.4);
	text-align: center;
	display: block;
	position: relative;
    cursor: pointer;
}

#futureButton h3{
    font-size: 1.5em;
	color: #424242;
}

#col1, #col2, #col3, #col4, #col5, #col6, #col7{
    display: inline-block;
    text-align: center;
    margin: auto;
    float: left;
    width: 5em;
    height: 10em;
}

.aheadHead{
    display: inline-block;
    width: 5.5em;
    height: 2em;
    margin: 0 0.3em 0.2em 0;
    padding: 0.5em;
    float: left;
}

.aheadHead h5{
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    margin-right: 0.4em;
}

.aheadHead:first-child{
    margin-left: 0;
}

.aheadHead:last-child{
    margin-right: 0;
}

.aheadIcon{
    display: inline-block;
    width: 4.7em;
    height: 4.7em;
    border-radius: 50%;
    text-align: center;
    margin: 0 0.35em;
    padding: 0.5em;
    float: left;
    box-shadow: 0 0.2em 0.5em 0 #ababab;
    -webkit-transition: .15s;
    transition: .15s;
}

.aheadIcon:first-child{
    margin-left: 0;
}

.aheadIcon:last-child{
    margin-right: 0;
}

.minTemp, .maxTemp{
    font-size: 1.5em;
    line-height: 1.2em;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0.1em;
    float: left;
}

.minTemp sup, .maxTemp sup{
    font-size: 0.45em;
    position: relative;
    vertical-align: middle;
}

.minTemp{
    color: #005bea;
    margin-top: 0.3em;
}

.maxTemp{
    color: #f43b47;
}

/** CSS RESPONSIVE SETTINGS **/

@media screen and (max-width: 2100px){
    
}

@media screen and (min-width: 1136px){
    
}

@media screen and (min-width: 901px) and (max-width: 1135px){

    .circle{
        left: 43%;
    }
    
    .circleMoons{
        left: 44.2%;
    }

    .minTemp, .maxTemp{
        font-size: 1.5em;
        display: inline-block;
        width: 40%;
    }
    
}

@media screen and (min-width: 875px) and (max-width: 900px){
    
    .sunCircleContainer{
        height: 65em;
    }
    
    .circle{
        top: 28.5em;
        left: 42.5%;
    }
    
    #moonPhases{
        display: block;
    }
    
    .circleMoons{
        top: 30em;
        left: 44.5%;
    }
    
    #future{
        height: 19%;
    }
    
}

@media screen and (min-width: 740px) and (max-width: 874px){
    
    .sunCircleContainer{
        height: 48em;
    }
    
    #circleGroup{
        transform: scale(0.85,0.85);
        margin-top: 17.5em;
    }
    
    .circle{
        top: -1.5em;
        left: 35%;
    }
    
    #moonPhases{
        display: block;
    }
    
    .circleMoons{
        top: 0;
        left: 37.5%;
    }
    
    #future{
        height: 38%;
    }
    
    #future .container{
        width: 80%;
    }
    
    #col1{
        margin-left: 2.5vw;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (min-width: 706px) and (max-width: 739px){
    
    .sunCircleContainer{
        height: 46.8em;
        padding-bottom: 0;
    }
    
    #circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 15.3em;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
    #innerCircle{
        height: 30em;
    }
    
    .circle{
        top: 0;
        left: 38%;
    }
    
    #moonPhases{
        background-color: #424242;
        margin-left: -7em;
        padding: 1em 7em 2em;
        display: none;
    }
    
    #moonButton{
        display: block;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
    }
    
    .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 30em;
        left: 0;
        vertical-align: top;
    }
    
    .circleMoons:nth-of-type(n) h6{
        color: #FFFFFF !important;
    }

    .circleMoons:nth-of-type(1){
        margin-left: 11%;
    }

    .circleMoons:nth-of-type(4){
        margin-right: 8%;
    }

    .circleMoons:nth-of-type(5){
        margin-left: 4%;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        text-align: center;
    }
    
    #futureButton{
        margin: -3.3em auto 0;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1, #col2, #col3, #col4, #col5, #col6, #col7{
        height: 9em;
    }

    #col1{
        margin-left: 17%;
    }

    #col5{
        margin-left: 25%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (min-width: 551px) and (max-width: 705px){
    
    .sunCircleContainer{
        height: 46.8em;
        padding-bottom: 0;
    }
    
    #circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 17em;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
    #innerCircle{
        height: 28em;
    }
    
    .circle{
        top: -2em;
        left: 36%;
    }
    
    #moonPhases{
        background-color: #424242;
        margin-left: -7em;
        padding: 1em 7em 2em;
        display: none;
    }
    
    #moonButton{
        display: block;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
    }
    
    .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 30em;
        left: 0;
        vertical-align: top;
    }
    
    .circleMoons:nth-of-type(n) h6{
        color: #FFFFFF !important;
    }

    .circleMoons:nth-of-type(1){
        margin-left: 8%;
    }

    .circleMoons:nth-of-type(4){
        margin-right: 5%;
    }

    .circleMoons:nth-of-type(5){
        margin-left: 4%;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        text-align: center;
    }
    
    #futureButton{
        margin: -3.3em auto 0;
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1, #col2, #col3, #col4, #col5, #col6, #col7{
        height: 9em;
    }

    #col1{
        margin-left: 17%;
    }

    #col5{
        margin-left: 25%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}

@media screen and (max-width: 550px){
    
    .sunCircleContainer{
        height: 45.3em;
        padding-bottom: 0;
    }
    
    #circleGroup{
        transform: scale(0.8,0.8);
        margin-top: 12em;
        text-align: center;
        width: 100%;
    }
    
    #innerCircle{
        height: 29em;
    }
    
    .circle{
        top: -2em;
        left: 36%;
    }
    
    #moonPhases{
        background-color: #424242;
        margin-left: -7em;
        padding: 1em 7em 2em;
        display: none;
    }
    
    #moonButton{
        display: block;
    }
    
    #moonButton h3{
        display: block;
        margin-bottom: 0;
    }
    
    .circleMoons:nth-of-type(n){
        transform: rotate(0) translate(0) rotate(0);
        display: inline-block;
        position: inherit;
        margin: 0.5em;
        top: 30em;
        left: 0;
        vertical-align: top;
    }
    
    .circleMoons:nth-of-type(n) h6{
        color: #FFFFFF !important;
    }

    .circleMoons:nth-of-type(1){
        margin-left: 10%;
    }

    .circleMoons:nth-of-type(3){
        margin-right: 10%;
    }

    .circleMoons:nth-of-type(4){
        margin-left: 10%;
    }

    .circleMoons:nth-of-type(6){
        margin-right: 10%;
    }

    .circleMoons:nth-of-type(7){
        margin-left: 2%;
    }
    
    #future{
        height: 22em;
    }
    
    #future .container{
        width: 75%;
        height: auto;
        text-align: center;
    }
    
    #futureButton{
    }
    
    #future h3{
        text-align: center;
        font-size: 2em;
    }

    #col1, #col2, #col3, #col4, #col5, #col6, #col7{
        height: 9em;
    }

    #col1{
        margin-left: 9.5%;
    }

    #col5{
        margin-left: 19%;
    }
    
    .aheadHead{
        display: inline-block;
    }
    
}